.DragWrapperRoot{
  // position: relative;
  display: flex;
  height: 80%;

  .dragBox{
    position: relative;
    border-right: 1px solid #999;
    height: 100%;
  }
  .width-drag{
    position: absolute;
    cursor: ew-resize;
    top: 0;
    bottom: 0;
    width: 10px;
    background: transparent;
  }
}