.pageRoot {
  width: 100%;
  height: 100%;
  display: flex;

  .left-demo {
    width: 18%;
    height: 100%;
    padding: 12px;
    border-right: 1px solid #999;
  }

  .right-bigData {
    width: 48%;
    height: 100%;
  }
}